@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

html,
body {
	font-family: Nunito;
}

.container {
	margin-bottom: 5em;
	margin-top: 2em;
	width: min(500px, 90%);
}

.title {
	text-align: center;
	margin-top: 0.1em;
	margin-bottom: 1rem !important;
}

.inputDiv {
	padding: 2px 0px;
}

.actions {
	width: inherit;
}

.actions>input {
	margin: 3px 0px;
}

.modeCheckboxes,
.platformCheckboxes {
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content: left;
	column-gap: 3px;
}

.modeCheckboxes>label,
.platformCheckboxes>label {
	margin-right: 15px;
}

button {
	margin: 5px 0px;
}

.Name {
	font-size: large;
	margin: 5px 0px;
}

.error {
	font-size: large;
	background-color: rgb(180, 0, 0);
	padding: 2px 10px;
	color: white;
}

input[type="text"] {
	border-radius: 5px;
	border: 1px solid #2F4F4FB0;
	padding: 2px 5px;
}

nav {
	font-size: larger;
}